<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.geekerstar.tdengine.module.sample.mapper.CanInfoMapper">

    <insert id="createAndInsert">
        INSERT INTO car.can_${carNo} USING car.can TAGS (${carNo}) VALUES (
            #{can.国标数据时间},
            #{can.车辆状态},
            #{can.充电状态},
            #{can.运行模式},
            #{can.车速},
            #{can.累计里程},
            #{can.总电压},
            #{can.总电流},
            #{can.soc},
            #{can.dc状态},
            #{can.驱动力},
            #{can.制动力},
            #{can.档位},
            #{can.绝缘电阻},
            #{can.加速踏板行程值},
            #{can.制动踏板状态},
            #{can.驱动电机个数},
            #{can.驱动电机详情},
            #{can.定位状态},
            #{can.经度},
            #{can.纬度},
            #{can.最高电压电池子系统代号},
            #{can.最高电压电池单体代号},
            #{can.电池单体电压最高值},
            #{can.最低电压电池子系统代号},
            #{can.最低电压电池单体代号},
            #{can.电池单体电压最低值},
            #{can.最高温度子系统代号},
            #{can.最高温度探针序号},
            #{can.最高温度值},
            #{can.最低温子系统号},
            #{can.最低温度探针序号},
            #{can.最低温度值},
            #{can.最高报警等级},
            #{can.通用报警标志},
            #{can.温度差异报警},
            #{can.电池高温报警},
            #{can.车载储能装置类型过压报警},
            #{can.车载储能装置类型欠压报警},
            #{can.soc低报警},
            #{can.单体电池过压报警},
            #{can.单体电池欠压报警},
            #{can.soc过高报警},
            #{can.soc跳变报警},
            #{can.可充电储能系统不匹配报警},
            #{can.电池单体一致性差报警},
            #{can.绝缘报警},
            #{can.dcdc温度报警},
            #{can.制动系统报警},
            #{can.dcdc状态报警},
            #{can.驱动电机控制器温度报警},
            #{can.高压互锁状态报警},
            #{can.驱动电机温度报警},
            #{can.车载储能装置类型过充},
            #{can.可充电储能装置故障总数},
            #{can.驱动电机故障总数},
            #{can.发动机故障总数},
            #{can.其他故障总数},
            #{can.可充电储能子系统个数_电压},
            #{can.可充电储能子系统个数_温度},
            #{can.累计充电量},
            #{can.瞬时消耗率},
            #{can.dcac报警等级},
            #{can.aebs状态},
            #{can.碰撞等级},
            #{can.aebs跟踪目标障碍物类型},
            #{can.左偏离报警},
            #{can.右偏离报警},
            #{can.方向盘角度},
            #{can.方向盘转向计数器},
            #{can.方向盘角度传感器类型},
            #{can.z轴旋转率},
            #{can.y轴横向加速度},
            #{can.x轴纵向加速度},
            #{can.闭眼一级},
            #{can.闭眼二级},
            #{can.左顾右盼},
            #{can.打哈欠},
            #{can.打电话},
            #{can.抽烟},
            #{can.离岗},
            #{can.低头},
            #{can.抬头},
            #{can.驾驶员变更},
            #{can.摄像头遮挡},
            #{can.墨镜遮挡},
            #{can.双手脱离方向盘},
            #{can.单手脱离方向盘},
            #{can.长时间驾驶},
            #{can.过道超员},
            #{can.身份不符},
            #{can.未系安全带},
            #{can.喝水},
            #{can.玩手机},
            #{can.身份识别状态},
            #{can.人脸抓拍},
            #{can.检测到司机},
            #{can.dms车速},
            #{can.adas声音类型},
            #{can.adas日夜状态},
            #{can.adas停车状态},
            #{can.adas车距预警},
            #{can.adas碰撞时间},
            #{can.adas故障},
            #{can.车道偏离禁用},
            #{can.车道偏离左},
            #{can.车道偏离右},
            #{can.碰撞预警},
            #{can.行人碰撞},
            #{can.行人区域},
            #{can.超速使能},
            #{can.超速等级},
            #{can.车距等级},
            #{can.胎压监测模块安装轮胎位置},
            #{can.车型定义},
            #{can.润滑系统状态},
            #{can.制动钳左前传感器温度},
            #{can.制动钳右前传感器温度},
            #{can.制动钳左中传感器温度},
            #{can.制动钳右中传感器温度},
            #{can.制动钳左后传感器温度},
            #{can.制动钳右后传感器温度},
            #{can.制动钳本地告警温度设置},
            #{can.后舱门状态},
            #{can.手刹开关},
            #{can.干燥器排气压力开关},
            #{can.一号气压报警输入},
            #{can.二号气压报警输入},
            #{can.前乘客门开关信号},
            #{can.后乘客门开关信号},
            #{can.充电口舱门信号},
            #{can.碰撞信号},
            #{can.应急门开关信号},
            #{can.低压电瓶电压},
            #{can.一号气瓶压力},
            #{can.二号气瓶压力},
            #{can.转向灯信号},
            #{can.危险指示灯信号},
            #{can.远近光灯信号},
            #{can.雨刮信号},
            #{can.机舱烟雾报警1号传感器除霜器},
            #{can.机舱烟雾报警2号传感器顶前部电池舱},
            #{can.机舱烟雾报警3号传感器后部顶电池舱},
            #{can.机舱烟雾报警4号传感器后电器舱},
            #{can.机舱烟雾报警5号传感器后电池舱},
            #{can.机舱烟雾报警6号传感器},
            #{can.机舱烟雾报警7号传感器},
            #{can.机舱烟雾报警8号传感器},
            #{can.机舱烟雾报警9号传感器},
            #{can.机舱烟雾报警10号传感器},
            #{can.soh},
            #{can.当前最高故障等级},
            #{can.电芯温度最大值},
            #{can.电芯温度最小值},
            #{can.电芯温度平均值},
            #{can.电芯电压最大值},
            #{can.电芯电压最小值},
            #{can.电芯电压平均值},
            #{can.整车系统故障码},
            #{can.转向泵故障码},
            #{can.轮胎个数},
            #{can.轮胎详情},
            #{can.电池箱个数},
            #{can.电池箱详情},
            #{can.全速上传倒计时},
            #{can.msgId},
            #{can.车辆编号},
            #{can.网关编号},
            #{can.租户ID},
            #{can.网关时间}
            )
    </insert>
</mapper>
